@model NTBrokers.Models.Companies.CompanyCreateModel

<h5>Create new company</h5>

@foreach (var broker in Model.Brokers)
{
    Model.CreateFormBrokers.Add(new SelectListItem { Value = broker.BrokerId.ToString(), Text = broker.Name + " " + broker.Surname });
}

@foreach (var selectedBroker in Model.SelectedBrokers)
{
    foreach (var item in Model.CreateFormBrokers)
    {
        if (item.Value == selectedBroker.BrokerId.ToString())
        {
            item.Selected = true;
        }
    }
}

@using (Html.BeginForm("Update", "Company", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.HiddenFor(x => x.Company.CompanyId)
            @Html.LabelFor(x => x.Company.CompanyName)
            @Html.TextBoxFor(x => x.Company.CompanyName)
            @Html.LabelFor(x => x.Company.City)
            @Html.TextBoxFor(x => x.Company.City)
            @Html.LabelFor(x => x.Company.Street)
            @Html.TextBoxFor(x => x.Company.Street)
            @Html.LabelFor(x => x.Company.Address)
            @Html.TextBoxFor(x => x.Company.Address)

            <label>Select brokers <label>
            @Html.ListBoxFor(s => s.CreateFormSelectedBrokers, Model.CreateFormBrokers)
            <input type="submit" value="Submit" />
        </div>
    </div>
}