@model List<NTBrokers.Models.Companies.CompanyModel>

<a asp-controller="Company" asp-action="Create">Add Company</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink($"{@item.CompanyName}", "CompanyBrokers", new { companyId = item.Id })</td>
                <td>@item.Street @item.Address, @item.City</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) / <a asp-controller="Broker" asp-action="Create">Add broker</a></td>
            </tr>
        }
    </tbody>
</table>