@model NTBrokers.Models.Apartments.ApartmentCreateModel

<h5>Create new apartment</h5>

@using (Html.BeginForm("SubmitAsync", "Apartment", FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.LabelFor(x => x.Apartment.City)
            @Html.TextBoxFor(x => x.Apartment.City)
            @Html.LabelFor(x => x.Apartment.Street)
            @Html.TextBoxFor(x => x.Apartment.Street)
            @Html.LabelFor(x => x.Apartment.Address)
            @Html.TextBoxFor(x => x.Apartment.Address)
            @Html.LabelFor(x => x.Apartment.FlatFloor)
            @Html.TextBoxFor(x => x.Apartment.FlatFloor)
            @Html.LabelFor(x => x.Apartment.BuildingFloors)
            @Html.TextBoxFor(x => x.Apartment.BuildingFloors)
            @Html.LabelFor(x => x.Apartment.Area)
            @Html.TextBoxFor(x => x.Apartment.Area)
            @Html.DropDownListFor(x => x.Apartment.CompanyId, new SelectList(Model.Companies, "CompanyId", "CompanyName"))
            <input type="submit" value="Submit" />
        </div>
    </div>
}