@model NTBrokers.Models.Brokers.BrokerApartmentsModel

@Html.ActionLink("Add apartment", "AddApartment", new { brokerId = Model.Broker.BrokerId })

<h3>List of @Model.Broker.Name @Model.Broker.Surname apartments</h3>

@using (Html.BeginForm("Filter", "Broker", new { brokerId = Model.Broker.BrokerId, broker = Model.Broker.Name + " " + Model.Broker.Surname }, FormMethod.Post))
{
    <div class="container-full" style="background-color:aliceblue">
        <div class="container">
            @Html.DropDownListFor(x => Model.FilterSort.FilterCity, new SelectList(Model.SelectApartments))
            <input type="submit" value="Filter" />
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Apartments)
        {
            <tr>
                <td>@item.City</td>
                <td>@item.Street @item.Address</td>
                <td>todo remove</td>
            </tr>
        }
    </tbody>
</table>